{% extends 'main.html' %}

{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>



<div class="home-container">
    

    <div>
        <a href="{% url 'criar-topico' %}">Adicionar novo Tópico</a>
        {% include 'principal/topicos_component.html' %}
    </div>
    
    
    
    <div>
        <h5>{{room_count}} salas encontradas!</h5>
        <a href="{% url 'criar-sala' %}">Criar Sala</a>
        <hr>
        {% include 'principal/feed_component.html' %}
    </div>
        
    
    
    <div class="atiividades-container" >
        {% include 'principal/recentes_component.html' %}
    </div>
</div>    
{% endblock %}



