{% extends 'main.html' %}

{% block content %}
{% if pagina == 'login' %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Digite seu Username">
            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Digite sua senha">
            <input type="submit" value="Logar">
            

        </form>
        <p>Ainda não se registrou?</p>
            <a href="{% url 'pagina-registro' %}">Faça o registro</a>

    </div>
{% else %}

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <div>
                {{registro.as_p}}
            </div>
        
            <input type="submit" value="Registrar">

        </form>
        <p>Já se registrou?</p>
            <a href="{% url 'pagina-login' %}">Faça o login</a>

    </div>
{% endif %}
{% endblock %}