{% extends 'main.html' %}
{% block content %}
<style>
    .perfil-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
</style>


<h1>{{user.username}}</h1>

<div class="perfil-container">
    <div>
        {% include 'principal/topicos_component.html' %}
    </div>


    <div>
        <h3>Salas Criadas</h3>
        <hr>
        {% include 'principal/feed_component.html' %}
    </div>


    <div>
        {% include 'principal/recentes_component.html' %}
    </div>
</div>


{% endblock %}